* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .logo h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: transparent;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #007b5e;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

section {
    padding: 50px 20px;
}

h2 {
    font-size: px;
    margin-bottom: 30px;
}

.attractions-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wap;
}

.attraction {
    background-color: lightblue;
    width: 40%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.attraction img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.attraction h3 {
    font-size: 24px;
    margin: 15px;
}

.attraction p {
    font-size: 16px;
    margin: 0 15px 15px;
}

.about {
    background-color: lightcyan;
    text-align: center;
    
}

.about p {
    font-size: 28px;
    width: 70%;
    margin: 0 auto;
}



.contact-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}
.contact-form h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
    color: #007BFF;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}
.form-group textarea {
    resize: vertical;
    height: 100px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

