.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr, 1fr 1fr;
    grid-gap: 10px;
    height: 400px;
    

}

.box1{
    background-color: lightskyblue;
    border-radius: 13px;
    height:100%;
}
.box2{
    background-color: lightskyblue;
    
}

.box3{
    background-color: red;
    width:100%;
}
.box4{
        background-color: rgb(0, 13, 255);
        width:100%;
}
.box5{
    background-color: lightcoral;
    width:100%;
}
.box6{
    background-color: grey;
    width:100%;
}
